
# Python caches and build artifacts
**/__pycache__/
**/*.egg-info/
build/
dist/

# Python files
**/*.ipynb_checkpoints/
**/*.ipynb

# R files
**/*.Rhistory
**/*.rda
**/*.rds
**/*.Rdata

# testing stuff
test_data/*.json
**/.coverage
**/htmlcov/

# misc files
**/*.DS_Store
**/*.log

# documentation
**/_build/
**/warnings.txt
