# Python caches and build artifacts
**/__pycache__/
**/*.egg-info/
**/build/
**/dist/
**/conda-install/

# Python files
**/*.ipynb_checkpoints/
**/*.ipynb

# R files
**/*.Renviron
**/*.Rhistory
**/*.Rprofile
**/*.rda
**/*.rds
**/*.Rdata

# testing stuff
**/test_data/*.json
**/.coverage
**/htmlcov/
**/man/
**/.pytest_cache/
smoke_tests/test_data/successful_*.txt
smoke_tests/test_data/results.txt
**/coverage.html
lib/

# temporary file created by .ci/run_analyze_py_coverage.sh
.ci/analyze_py_tests/doppel_analyze.py

# misc files
**/*.DS_Store
**/*.log
run.sh

# documentation
**/_build/
**/warnings.txt

# aspell check stuff
**/*.bak

# data files
**/*.xls
**/*.xlsx
**/*.tar.gz
**/*.rar
**/*.7z
**/*.bz2
**/*.zip
