# We never need more than the most recent commit
git:
  depth: 1

before_install:
  - .ci/setup.sh
  - export PATH=${CONDA_DIR}/bin:$PATH

script:
  - .ci/test.sh

env:
  CONDA_DIR: ${HOME}/miniconda3

matrix:
  include:

    # This is actually a py3.6 + Mac OSX build (with conda).
    # The mac + python version pairings for Travis are weird,
    # and as of this writing 3.6 isn't supported. For more, see
    # https://docs.travis-ci.com/user/multi-os/#python-example-unsupported-languages
    - os: osx
      language: generic
    - os: linux
      language: python
      python: 3.5
    - os: linux
      language: python
      python: 3.6
    - os: linux
      language: python
      python: 3.7
    - os: linux
      language: python
      python: 3.8

after_success:
  - codecov
